extends ../layout/index.pug

block contenido
  div.text-center
    h1.text-3xl.font-extrabold Bienes
      span.font-normal Raíces 

    div 
      h2.my-4.font-bold.text-xl #{pagina}

      form.shadow.bg-white.py-6.px-4.max-w-md.mx-auto.my-4.text-left.rounded-md.flex.flex-col.gap-6
        div   
          label(class="block font-bold text-sm uppercase" for="email" ) Email de registro
          input(id="email" name="email" class="p-2 mt-2 placeholder:text-gray-400 block w-full border-2 border-gray-200 rounded-md" placeholder="Tu Nombre")
        div   
          label(class="block font-bold text-sm uppercase" for="password" )  Password
          input(id="password" name="password" class="p-2 mt-2 placeholder:text-gray-400 block w-full border-2 border-gray-200 rounded-md" placeholder="Tu Nombre")
        
        div.flex.items-center.justify-between 
          a.text-gray-400.text-sm.uppercase.font-semibold(href="/auth/register") Crear Cuenta 
          a.text-gray-400.text-sm.uppercase.font-semibold(href="/auth/olvide-password") Olvidé mi password 


        input(class="button bg-indigo-500 text-white font-bold p-2 hover:bg-indigo-700 cursor-pointer" type="submit" value="Ingresar") 